.admin-navbar-alloptions{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: beige;
}

.nav-dropdown-admin-page{
  .fa-cog{
    margin-right: 100px;
  }
}
