.professor-class-profile-main-row{
  margin-left: 0px !important;
  margin-right: 0px !important;
  .react-bootstrap-table-pagination{
    margin-left: 0px;
    margin-top: -15px !important;
    background-color: ghostwhite;
    margin-bottom: 0px;
    margin-right: 0px;
    border: 1px solid #ccc;
    border-radius: 2px;
    border-top: 0px solid !important;
    .col-lg-6{
      padding-left: 0px;
    }
    .col-md-6{
      padding-left: 0px;
    }
    .col-xs-6{
      padding-left: 0px;
    }
    .col-sm-6{
      padding-left: 0px;
    }
    .react-bootstrap-table-pagination-list{
      padding-right: 0px;
    }
    .react-bootstrap-table-page-btns-ul{
      margin-bottom: 0px;
    }
    .search-label{
      margin-top: 10px;
    }
  }
}
.expanted-row-buttons{
  .btn{
    margin-right: 5px;
  }
}

.professor-class-profile-col1{
  background: aliceblue;
  border: 2px solid!important;
  border-radius: 10px;
  border-color: azure;
  height: 100%;
}
